.shop-item {
    background-color: var(--secondary-color);
    position: absolute;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 35%;
    box-shadow: rgba(0, 0, 0, 0.6) 7px 7px 10px;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-item:hover {
    transform: scale(1.1);
}
.shop-item-icon {
    border-radius: 35%;
    width: 90%;
    height: 90%;
}
.shop-item-add-icon {
    display: flex;
    padding: 5px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.2s ease;
}

.shop-item:hover .shop-item-add-icon {
    transform: scale(1);
}