.userphone-holder {
    height: 50px;
    justify-content: center;
    transition: all 0.1s;
    display: flex;
    flex: 1;
}

.userphone-text {
    color: var(--text-color);
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s;
    align-self: center;
    cursor: copy;
    font-size: 20px;
}
.userphone-holder:hover .userphone-text {
    transform: scale(1.05);
    color: var(--highlight-color);
}
.userphone-holder:hover .userphone-icon {
    transform: rotate(-45deg);
}
.userphone-holder:hover .userphone-edit-icon {
    width: 30px;
}
.userphone-icon {
    width: 30px;
    transition: all 0.1s;
    margin: 0px;
}
.userphone-edit-icon {
    width: 0px;
    transition: all 0.1s;
    margin: 10px;
}
.userphone-icon-hover:hover {
    transform: scale(1.1);
}
.userphone-input-holder {
    height: 50px;
    justify-content: center;
    transition: all 0.1s;
    display: flex;
    flex: 1;
}
.username-input {
    background-color: var(--secondary-color) !important;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    max-width: 150px;
}

.username-input:focus {
    border-color: var(--highlight-color);
    border-style: solid;
}