.comment-input-holder {
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.comment-input {
    background-color: transparent;
    outline: none;
    resize: none;
    width:80%;
    border-style: none;
    border-bottom-style: solid;
    outline-width: 2px;
}
.comment-input-btn-icon {
    color:var(--primary-color);
    width: 50px;
    height: 50px;
}
.comment-input-btn {
    margin-left: 10px;
    transition: all 0.2s;
    background-color:transparent;
    border-width:0px;
}
.comment-input-btn:hover {
    transform: scale(1.1);
    cursor:pointer;
}
.comment-loading{
    width:60px !important;
    height:60px !important; 
    margin:0px !important;
    padding:0px !important;
}
.comment-input-pic {
    width: 45px;
    border-radius: 15px;
    height: 45px;
    align-self: start;
    vertical-align: top;
    object-fit: cover;
    transition: all 0.2s;
    margin: 5px;
    padding: 3px;
    color:var(--background-color);
    background-color: var(--primary-color);
}
.comment-input-text {
    color: var(--text-color);
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
