nav {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
