.navbar {
    background-color: var(--secondary-color);
    display: flex;
    justify-content:center;
    padding: 0;
    height:75px;
}

.navbar-option {
    padding: 20px;
    display: flex;
    color: var(--text-color);
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s;
    cursor: pointer;
    font-size: 25px;
}

.navbar-icon {
    width: 25px;
    height: 25px;
    transition: all 0.2s;
    margin: 5px;
    color: var(--primary-color);
}

.navbar-option:hover .navbar-icon {
    transform: rotate(10deg);
    transition: all 0.2s;
}

.navbar-option:hover {
    color: var(--highlight-color);
    transform: scale(1.08);
}