.colors-holder {
    width: 100%;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    animation-delay: 0.1s;
    justify-content: center;
}
.color-holder {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 8px;
    padding: 10px;
    transition:all 0.1s;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.color-text {
    font-family: var(--primary-font);
    font-size: 15px;
    margin: 5px;
    color: var(--primary-color);
    pointer-events: none;
    font-weight: bold;
}
.color-holder:hover {
    transform: scale(1.05);
}
.selected-color{
    transform: scale(1.1);
}

.almost-fade {
    opacity: 1;
    animation: almostFade 0.2s ease-in forwards;
}

.fade-back {
    opacity: 0.3;
    animation: fadeBack 0.2s ease-in forwards;
}

@keyframes almostFade {
    to {
        opacity: 0.3;
    }
}

@keyframes fadeBack {
    to {
        opacity: 1;
    }
}
.Red {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 25px;
}

.Blue {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 25px;
}

.Green {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 25px;
}

.Yellow {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 25px;
}

.Black {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 25px;
}

.White {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 25px;
}

.Gray {
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 25px;
}

.Orange {
    width: 25px;
    height: 25px;
    background-color: orange;
    border-radius: 25px;
}

.Purple {
    height: 25px;
    width: 25px;
    background-color: purple;
    border-radius: 25px;
}

.Brown {
    width: 25px;
    height: 25px;
    background-color: brown;
    border-radius: 25px;
}

.Pink {
    height: 25px;
    width: 25px;
    background-color: pink;
    border-radius: 25px;
}

.Gold {
    height: 25px;
    width: 25px;
    background-color: gold;
    border-radius: 25px;
}

.Silver {
    height: 25px;
    width: 25px;
    background-color: silver;
    border-radius: 25px;
}
