.holder-village {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    justify-content:center;
    justify-items:center;
}
.village-title {
    color: var(--text-color);
    font-weight: bold;
    font-size: 35px;
}
