.profile{
    display:flex;
    width:100%;
}
.profile-left{
}
.profile-right {
    flex: 1;
}
.profile-user{

}

@media (max-width: 868px) {
    .profile {
        flex-direction:column !important;
        align-items:center;
    }
}