@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=EB+Garamond&display=swap');
:root {
    --primary-color: #2D3A4D;
    --secondary-color: #D9BF77;
    --highlight-color: #6A4C93;
    --accent-color: #A8D8B9;
    --text-color: #2D3A4D;
    --background-color: #F0E3C7;
    --primary-font: 'EB Garamond', serif;
    background-color: var(--primary-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}