.useroverview-holder {
    background-color: var(--primary-color);
    border-radius: 25px;
    transition: all 0.1s;
    padding: 10px;
    width: 400px;
    height: 200px;
    justify-content: space-evenly;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.useroverview-holder:hover{
    transform:scale(1.02);
}
.useroverview-right {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.useroverview-title{
    color:var(--secondary-color);
    font-weight:bold;
    font-size:25px;
}
.useroverview-rating {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 35px;
}
.useroverview-icon-rating {
    color: var(--secondary-color);
    width: 25px;
    margin: 2px;
}
.useroverview-holder-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.useroverview-desc {
    color: var(--secondary-color);
    font-size: 15px;
}
.useroverview-img {
    flex: 1;
    width: 100px;
    height: 100px;
    max-width:100px;
    max-height:100px;
    border-radius: 15px;
    background-color: var(--secondary-color);
    object-fit: cover;
    padding: 5px;
    display: flex;
}
@media (max-width: 600px) {
    .useroverview-holder {
        height: 250px;
        width: 350px;
    }
    .useroverview-img {
        width: 80px;
        height: 80px;
        max-width: 80px;
        max-height: 80px;
    }
}