.overview-img {
    width: 40px;
    height: 40px;
    align-self: center;
    color: var(--primary-color);
    margin: 5px;
}

.overview-button {
    justify-content: center;
    border: none;
    background-color: var(--primary-color);
    color: white;
    animation-delay: 0.3s;
    height: 50px;
    font-family: var(--primary-font);
    transition: all 0.1s;
    border-radius: 10px;
    cursor: pointer;
}

.overview-button label {
    border: none;
    align-self: center;
    font-family: var(--primary-font);
    border-color: var(--highlight-color);
    font-size: 20px;
    outline: none;
    pointer-events: none;
    font-weight: bold;
}

.overview-button:hover {
    background-color: var(--highlight-color);
    border-radius: 20px;
}

.welcome-text {
    font-family: var(--primary-font);
    font-size: 35px;
    animation-delay: 0.1s;
    font-weight: bold;
    margin: 35px;
    margin-bottom: 5px;
}

.overview-text {
    border: none;
    height: 55px;
    align-self: center;
    font-family: var(--primary-font);
    background-color: transparent;
    border-color: var(--highlight-color);
    font-size: 25px;
    outline: none;
    width: 100%;
    margin: 10px;
}

.overview-text:focus {
    border-bottom: groove;
    border-color: var(--highlight-color);
    border-width: 3px;
}

.overview-element {
    margin: 20px;
    display: flex;
    animation-delay: 0.2s;
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    width: 400px;
    height: 55px;
}
