.searchbar {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 950px;
}

.searchbar-img {
    width: 40px;
    height: 40px;
    align-self: center;
    color: var(--primary-color);
    margin: 5px;
}

.searchbar-text {
    border: none;
    height: 55px;
    align-self:center;
    font-family: var(--primary-font);
    background-color: transparent;
    width: 100%;
    border-color: var(--highlight-color);
    font-size: 25px;
    outline: none;
    margin:10px;
}

.searchbar-text:focus {
    border-bottom: groove;
    border-color: var(--highlight-color);
    border-width: 3px;
}

.searchbar-element-obj {
    width: 70%;
}

.searchbar-element {
    display: flex;
    height: 55px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.searchbar-button {
    display:flex;
    justify-content:center;
    margin: 5px 5px 5px 15px;
    border: none;
    background-color: var(--primary-color);
    width: 160px;
    color: white;
    font-family: var(--primary-font);
    font-size: 20px;
    transition: all 0.1s;
    border-radius: 15px;
    cursor: pointer;
}
.searchbar-button label {
    pointer-events:none;
    align-self: center;
    font-family: var(--primary-font);
    background-color: transparent;
    font-size: 25px;
}
.searchbar-button svg {
    color: var(--highlight-color);
    width: 35px;
    height: 35px;
    align-self: center;
    margin: 5px;
}

.searchbar-button:hover {
    background-color: var(--highlight-color);
    border-radius: 25px;
}

.searchbar-button:hover svg {
    color: var(--primary-color);
}

/*responsive design example in pure css*/
@media (max-width: 868px) {
    .searchbar {
        flex-direction:column;
        justify-content: space-between;
    }
    .searchbar-element-obj {
        width: 100%;
    }
    .searchbar-element {
        margin:10px;
        align-self:center;
        border-radius:25px !important;
    }
    .searchbar-button {
        width: 130px;
        height:55px;
        align-self:center;
    }
}
