.tags-holder {
    width: 100%;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    animation-delay:0.1s;
    justify-content: center;
}
.tags {
    display: flex;
    align-items: center;
    margin: 8px;
    transition: all 0.1s;
    border: none;
    cursor: pointer;
    flex-direction: row;
    background-color: var(--secondary-color);
    border-radius: 15px;
}
.tags:hover {
    transform:scale(1.05);
}
.tags:hover .tags-img {
    transform: rotate(-45deg);
}
.tags-text {
    font-family: var(--primary-font);
    font-size:20px;
    margin:5px;
    color:var(--primary-color);
    pointer-events:none;
    font-weight:bold;
}
.tags-title {
    color: var(--text-color);
    font-family: var(--primary-font);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    align-self: center;
    margin: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.selected-tag {
    background-color: var(--highlight-color);
    transform: scale(0.85) !important;
}
.selected-tag .tags-img {
    transform: rotate(-45deg) !important;
}

.tags-img {
    transition: all 0.1s;
    width: 25px;
    margin:5px;
    height: 25px;
    color: var(--primary-color);
    pointer-events: none;
}