.userrate-holder {
    height: 50px;
    justify-content: center;
    display: flex;
    flex: 1;
    width:220px;
    justify-self:center;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 25px;
}
.userrated-stars-input:hover{
    transform:scale(1.05);
}
.userrate-loading-holder {
    height: 50px;
    justify-content: center;
    display: flex;
    flex: 1;
    margin: 10px;
    background-color: transparent;
    border-radius: 25px;
}
.userrated-stars-input {
    transition: all 0.1s;
    display: flex !important;
    text-align: justify-all !important;
    justify-content: flex-start !important;
    vertical-align: central;
}
.userrate-text {
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight:bold;
}
.userrated-holder-rating{
    margin:5px;
    display:flex;
    align-items:center; 
    justify-content:center;
}
.userrate-icon-rating {
    color: var(--primary-color);
    width: 20px;
    margin: 2px;
}
.userrate-icon {
    color: var(--secondary-color);
    width: 30px;
    margin: 5px;
    margin-left: 8px;
}
.userrate-icon-options {
    transition: all 0.1s;
    color: var(--primary-color);
    width: 30px;
    margin: 5px;
    margin-left: 8px;
}
.userrate-icon-hover:hover {
    transform: scale(1.1);
}
.userrate-input {
    background-color: transparent;
    padding: 5px;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    margin: 5px;
    max-width: 150px;
    outline-width: 2px;
}

.userrate-input:focus {
    border-color: var(--highlight-color);
}

.userrate-holder:hover .userrate-edit-icon {
    padding: 5px;
    width: 25px;
}

.userrate-icon-hover:hover {
    transform: scale(1.1);
}
.userrate-icon-backgroound {
    background-color: var(--highlight-color);
    border-radius: 15px;
}
.userrate-edit-icon {
    color: var(--secondary-color);
    width: 0px;
    padding: 0px;
    transition: all 0.1s;
    position: absolute;
    bottom: 7px;
    right: 10px;
}