.holder {
    display: flex;
    justify-content: center;
}

main {
    text-align: center;
    padding: 15px;
}

.searchbar{
    display:flex;
    justify-content:center;
    width: 80%;
    max-width:950px;
    height:65px;
}

.searchbar-img{
    width:25px;
    height:25px;
    align-self:center;
    margin:5px;
}

.searchbar-text{
    border:none;
    height:55px;
    font-family:var(--primary-font);
    background-color:transparent;
    width:100%;
    font-size:25px;
    outline:none;
}
.searchbar-text:focus{
    border-bottom:groove;
    border-width:2px;
}

.searchbar-element-obj {
    width: 70%;
}

.searchbar-element {
    display: flex;
    padding:5px;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.searchbar-button {
    margin: 5px 5px 5px 15px;
    border: none;
    background-color: var(--highlight-color);
    width: 100px;
    color:white;
    font-family:var(--primary-font);
    font-size:20px;
    border-radius: 15px;
}

.searchbar-button:hover{

}

.rounded-left {
    border-radius: 15px 0px 0px 15px;
}

.rounded-right {
    border-radius: 0px 15px 15px 0px;
}

header {
    background-color: var(--text-color);
    color: #F0E3C7; 
    text-align: center;
    padding: 5px;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 20px;
}

button:hover {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 10px;
    color: white;
    font-family: bold;
    font-size: 15px;
    border-radius: 15px;
}

.content {
    padding: 20px;
    background-color: var(--accent-color);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.content:hover {
    padding: 20px;
    background-color: var(--accent-color);
    margin: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

