.holder {
    display: flex;
    justify-content: center;
}

main {
    text-align: center;
    padding: 15px;
}

.rounded-left {
    border-radius: 15px 0px 0px 15px;
}

.rounded-right {
    border-radius: 0px 15px 15px 0px;
}

header {
    background-color: var(--text-color);
    color: #F0E3C7; 
    text-align: center;
    padding: 5px;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 20px;
}

.content {
    padding: 20px;
    background-color: var(--accent-color);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.content:hover {
    padding: 20px;
    background-color: var(--accent-color);
    margin: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

