.listingDisplay-title {
    color: var(--text-color);
    font-weight: bold;
    font-family: var(--primary-font);
    font-size: 35px;
}
.listingDisplay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    justify-content: center;
    justify-items: center;
}
.listing-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 90%;
    background-color: var(--secondary-color);
    align-items: center;
    border-radius: 15px;
    position: relative;
    padding-bottom:55px;
}
.listing-page-number {
    font-family: var(--primary-font);
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    transition: all 0.1s;
    border-radius: 155px;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
}
.listing-page-number:hover {
    transform: scale(1.1);
}
.listing-pages-holder {
    position: absolute;
    bottom: 15px;
}